#
# PRODUCTION
#
production:
  adapter: postgresql
  encoding: unicode
  database: gitlabhq_production
  pool: 10
  username: {{db_user}}
  password: {{db_password}}
  host: {{db_host | default('localhost')}}
  port: {{db_port | default('5432') }}
